*{
   background-color: #37251b;
}



.logo{
    width: 5%;
    background-color: burlywood;
    padding-right: 20%;
    position: fixed;
    border-radius: 5%;
    
}

p{
    width: 56%;
    line-height: 10%;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 21%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    background-color: burlywood;
}
  

.logo2{
    width: 30%;
    height: 60%;
    background-color: burlywood;
    position: absolute;
    top: 20%;
    left: 11%;
    padding-left: 49%;
    padding-top: 11%;
   z-index: 1;
    border-radius: 8%;
}

.buynow{
    width: 56%;
    line-height: 10%;
    position: absolute;
    top: 60%;
    left: 13%;
    z-index: 3;
    background-color: burlywood;
    font-size: 3vw;

}
